<nav class="navbar navbar-default">

    <div class="container">

        <ul class="nav navbar-nav navbar-static-top">

            <li ng-class="{active:isActive('/')}">
                <a href="#/">Home</a>
            </li>

            <li ng-class="{active:isActive('#/RestaurantList')}">
                <a href="#/RestaurantList">Restaurantes</a>
            </li>

            <li ng-class="{active:isActive('#/DishList')}">
                <a href="#/DishList">Pratos</a>
            </li>

        </ul>

    </div>

</nav>