<restaurant-navbar></restaurant-navbar>

<h3>Cadastro de Prato</h3>

<fieldset>
    <legend>Dados:</legend>
    <form name="AddDishForm" ng-submit="dishService.addDish();">
        <table class="table">
            <tr>
                <td>Name</td>
                <td><input type="text" ng-model="dish.Name" /></td>
            </tr>
            <tr>
                <td>Preço</td>
                <td><input type="text" ng-model="dish.Price" /></td>
            </tr>
            <tr>
                <td>Restaurante</td>
                <td>
                    <select ng-model="dish.RestaurantId"
                            ng-options="item.Id as item.Name for item in restaurants"></select>
                </td>
            </tr>
            <tr>
                <td>
                    <button type="submit" value="Salvar">Salvar</button>
                </td>
                <td>
                    <button type="reset" value="Reset" ng-click="goDishList()">Cancelar</button>
                </td>
            </tr>
        </table>
    </form>
</fieldset>
